PORT=your_port_number
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.xyl4jkk.mongodb.net
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET=your-code
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=your-code
REFRESH_TOKEN_EXPIRY=10d